body
{
    background-color: #f3f3f3;
    font-family: Helvetica;
}

.text-center
{
text-align: center;
margin: auto;
}

.navbar
{
    margin: 10px, 15px;
    background-color: black;
    color: white;
    font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar a
{
    color: white;
    text-decoration-line: none;
}

.navbar a:hover 
{
     text-decoration: underline;
     font-weight:bold;
}

.active {
    font-weight: bold;
    color: orange;

}

.b
{
   list-style-type:none; 
   display: flex;
   gap: 20px;
}

.b:not
{
    content: "-";
    color: black;
}