body
{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar
{
    margin: 10px 15px;
    background-color: black;
    color: white;
    font-family:"Century Gothic", Arial, sans-serif;
}

nav a
{
    color: white;
    text-decoration: none;
    font-weight: normal;

}

.nav a:hover
{
    text-decoration: underline;
    font-weight: bold;
}

.nav span.active 
{
    color: orange;
    font-weight: bold;
}

.ligne
{
    background-color: black;
    color: whitesmoke;
    margin-top: 50px;
    font-size: 0.8;
}

.b
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.b li:not(:last-child)::after
{
    content: "-";
    margin: 0 10px;
     
}

.tr
{
    background-color: black;
    color: white;
}

.tra
{
    background-color: gray;
}

.conteneur-blocs
{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bloc 
{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 2px solid #333;
    padding: 20px;
    width: 30%;
    border-radius: 5px;
}

.bloc h2 
{
    margin-top: 0;
    margin-bottom: 10px;
}

.bloc p
{
    line-height: 1.5;
    margin-bottom: 0;
}

form
{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: goldenrod;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
}

form p
{
    margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select
{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    font-size: 1em;
    margin-top: 5px;
    resize: none;
}

button[type="submit"]
{
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
}

button[type="submit"]:hover
{
    background-color: greenyellow;
}

button[type="reset"]
{
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button[type="reset"]:hover
{
    background-color: #c82333;
}

label
{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

h1, h2
{
    text-align: center;
    font-family: "Century Ghotic", Arial, sans-serif;
}
